<!-- Google font -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<%= stylesheet_link_tag "index_account"%>
<div class="container-main">
  <div class="container-title-folders">
    <p>Inicio</p>
    <p id="subtitle1">Sistema de Gestion Empresarial</p>
  </div>
  <br>
</div>
